body{
    background-color:lightcoral;
    font-family:sans-serif;

}
.business-card{
    width:300px;
    text-align:center;
    margin:auto;
    height:auto;
    padding:20px;
    background-color:wheat;
}
.social-media{
    width:50%;
    text-align:center;
    margin:auto;
    

    
}
.business-card-logo{
    display:block;
    width:100px;
    margin:auto;
}
hr{
    width:50%;
    background-color:grey;
    height:2px;

}
a{
    display:block;
    text-decoration: none;
    margin:5px 0;
}
