.box{
    width:50vw;
    border: 4px solid black;
    margin:40px auto;
    padding:20px;
    font-size:1rem;
    background-color:white;
}
body{
    background-color:whitesmoke;
}
button{
    padding:1em;
    border:1px solid purple;
    transition:0.3s;
    position:relative;

}
button:hover{
    color:red;
}
.container p:first-child{
    background-color: lightcoral;
    padding:0.4rem;
}


.email::placeholder{
   color:red;
}

 #special-link:any-link{
color:purple;
 }
 section:target{
    background-color:purple;
    padding:10px;
    border:2px solid black;
 }
 html{
    scroll-behavior: smooth;
 }
 :root{
    background-color: black;
 }
 
 
 th,td{
    border:1px solid lightgrey;
    padding:8px;
 }
 tr:nth-child(even){
    background-color:orangered;
 }
 tr:nth-child(odd){
    background-color:lightgreen;
 }
 li:first-child{
    color:orangered;
 }
 li:last-child{
    color:green;
 }
 .my-box div:only-of-type{
 background-color: crimson;

 }
 .container p:first-of-type{
    background-color:purple;
 }
 .container p:last-of-type{
    background-color: green;
 }
 .container p:nth-of-type(2){
    color:red;
    font-weight:bold;
 }
 :is(button,a.button,input[type="submit"],input[type="reset"]){
   background-color: burlywood;
   color:white;
   border:1px solid darkblue;
   text-decoration:none;
   padding:10px 20px;
   border-radius: 40px;
   margin:5px;
   font-size:1rem;
   text-align: center;
   display:inline-block;
 }
 :is(button,a.button,input[type="submit"],input[type="reset"]):hover{
   background-color: blue;
   border-color: blue;
 }
 :where(#section2 h2,p){
  margin:0;
  padding:0;
 }
 article:has(h2){
   border:2px solid hotpink;
 }
 button:not(.button){
   background-color:grey;
 }
 button::before{
   content:"⭐";
   left:3px;
   top:9px;
   position: absolute;
   font-size: 0.75rem;
 }
 button:hover::before{
   transform: translateX(2px);
 }
 p::first-letter{
   font-size: 2rem;
 }
 li::marker{
   font-size:1.5em;
   color:crimson;
   font-weight:bold;
 }
 ::selection{
   background-color:black;
   color:yellow;
 }